@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@import "tailwindcss";

body {
  font-family: var(--font-dm-sans), sans-serif;
}

:root {
  --background: #020202;
  --foreground: #020202;
}

@theme {
  --font-noto-sans: var(--font-noto-sans);
  --font-dm-sans: var(--font-dm-sans);
}

input[type="date"]::placeholder {
  color: #9E9E9E;
  opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
